{{ define "main" }}

<header class="archive_header">
	<h1 class="index_header_title">
		{{ .Title }}
		<span class="index_article_time">({{ len .Pages }} {{ .Params.Articles }})</span>
	</h1>
	{{ with .Description }}<p class="index_header_description">{{ . }}</p>{{ end }}
</header>

<div class="archive_sidebar">
	<aside class="archive_sidebar_aside">
		<h2 class="archive_index_title">{{ T "by_tag" }}</h2>
		<div class="grid grid-auto-mini">
			{{ $section_tags := printf "%s_tags" .Section | printf "%s" }}
			{{ range (index .Site.Taxonomies $section_tags) }}
				<p><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> <span class="count">({{ len .Pages }})</span></p>
			{{ end }}
		</div>
	</aside>

	<aside class="archive_sidebar_aside">
		<h2 class="archive_index_title">{{ T "by_author" }}</h2>
		<div class="grid grid-auto-mini">
			{{ $section_tags := printf "%s_auteurs" .Section | printf "%s" }}
			{{ range (index .Site.Taxonomies $section_tags) }}
				<p><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> <span class="count">({{ len .Pages }})</span></p>
			{{ end }}
		</div>
	</aside>

	<aside class="archive_sidebar_aside">
		<h2 class="archive_index_title">{{ T "by_location" }}</h2>
		<div class="grid grid-auto-mini">
			{{ $section_tags := printf "%s_localisations" .Section | printf "%s" }}
			{{ range (index .Site.Taxonomies $section_tags) }}
				<p><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> <span class="count">({{ len .Pages }})</span></p>
			{{ end }}
		</div>
	</aside>
</div>
	
<div class="archive_index">
	{{ range (.Data.Pages.GroupByDate "2006") }}
		<div class="index">
			<h2 class="archive_index_title" id="{{ .Key }}">
				{{ .Key }}
				<span class="index_article_time">({{ len .Pages }})</span>
			</h2>

			{{ range .Pages }}
			<article class="h-entry index_biblio">		
				<h3 class="p-name index_article_title"><a href="{{ .Permalink }}"><i>{{ .Title }}</i></a></h2>
				<p class="index_biblio_title">{{ range .Params.Biblio_auteurs }}<span class="comma">{{ . }}</span>{{ end }}</p>
				<time class="index_article_time" datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
			</article>
			{{ end }}
		</div>
	{{ end }}
</div>

{{ end }}