/*****************************
******************************
*                            *
*   Anthony Nelzin-Santos    *
*     anthony@nelzin.fr      *
* https://anthony.nelzin.fr/ *
*                            *
*         EUPL v1.2          *
*                            *
******************************
*****************************/

*, *:before, *:after {
	box-sizing: border-box;
}

::-moz-selection {
	background: #0095c6;
	color: #fefcfe;
}

::selection {
	background: #0095c6;
	color: #fefcfe;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.skip {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
 }

.skip:focus {
	background: var(--color-light);
	color: var(--color-dark);
	clip: auto !important;
	display: block;
	top: 1rem;
	left: 1rem;
	height: auto;
	width: auto;
	padding: 1rem;
	z-index: 100000;
}

/**********************
***********************
* Éléments génériques *
***********************
**********************/

html {
	font-size: 100%;
}

body {
	background: #5f4B8b;
	color: #000e11;
	font-size: 1rem;
	font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
	-webkit-hyphens: auto;
	hyphens: auto;
	line-height: 1;
	margin: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #d72d5c;
	text-decoration: underline;
}

h1, h2, h3 {
	letter-spacing: -.05em;
	line-height: 1;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 1.953em;
}

h2 {
	font-size: 1.563em;
}

h3 {
	font-size: 1.25em;
}

ol,
ul {
	list-style-position: inside;
}

/************************
*************************
* Mise en page générale *
*************************
************************/

.site-wrapper {
	max-width: 50em;
}

.site-header {
	background: #2d2c4d;
	color: #fbfbfd;
	padding: 1rem;
	width: 100%;
}

.site-header a:hover,
.site-footer a:hover {
	color: #ffb025;
}

.site-main {
	background: #fbfbfd;
	margin: 1rem 0;
	padding: 1rem;
	width: 100%;
}

.site-wrapper {
	clear: both;
	margin: 0 auto;
}

.site-single {
	line-height: 1.4;
}

@supports (display: grid) {
	.site-single {
		display: grid;
	}
}

.site-aside {
	margin-top: 5em;
}

.site-footer {
	background: #2d2c4d;
	color: #fbfbfd;
	padding: 1rem;
	width: 100%;
}

/**************************
***************************
* Mise en page des listes *
***************************
**************************/

.article-list {
	margin-bottom: 5em;
}

.article-list:nth-child(even) {
	text-align: right;
}

.article-list:last-of-type {
	margin-bottom: 0;
}

.article-list .article-title {}

.article-list .article-time {
	color: #9d9da8;
	font-weight: bold;
	text-transform: uppercase;
}

/****************************
*****************************
* Mise en page des articles *
*****************************
****************************/

.site-single .single-header {
	margin-bottom: 5em;
}

.site-single .single-time {
	color: #9d9da8;
	font-weight: bold;
	text-transform: uppercase;
}

.site-single .single-footer {
	align-items: center;
	color: #9d9da8;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 5em;
	text-transform: uppercase;
}

.site-single .single-footer .single-author {
	font-weight: bold;
}

.site-single a {
	text-decoration: underline;
	text-decoration-color: #d72d5c;
}

.site-single abbr[title],
.site-single dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

.site-single blockquote {
	border-left: .5em solid #d72d5c;
	margin: 0 5em 1em 5em;
	padding-left: 1em;
}

.site-single blockquote p:last-of-type {
	margin-bottom: 0;
}

.site-single code,
.site-single pre {
	background: #bfc8e0;
	font-size: .9em;
	font-family: Consolas, Menlo, "Liberation Mono", monospace;
}

.site-single del {
	text-decoration: line-through;
}

.site-single figure {
	margin-bottom: 1rem;
	max-width: 100%;
}

.site-single figure figcaption {
	font-style: italic;
	text-align: right;
}

.site-single figure img {
	max-width: 100%;
}

.site-single ins {
	text-decoration: none;
}

.site-single hr {
	border: 0;
	border-top: 1px solid #ebebf3;
	margin: 1rem 0;
}

.site-single mark {
	background: #ffb025;
}

.site-single p {
	margin-bottom: 1rem;
}

.site-single pre {
	white-space: pre-wrap;
	margin-bottom: 1rem;
	padding: 1rem;
}

.site-single sub,
.site-single sup {
	font-size: .8em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.site-single sub {
	bottom: -.3em;
}

.site-single sup {
	top: -.65em;
	padding-left: .1em;
}

.site-single ul {
	margin: 0 0 1rem 1rem;
}