/*****************************
******************************
*                            *
*   Anthony Nelzin-Santos    *
*     anthony@nelzin.fr      *
* https://anthony.nelzin.fr/ *
*                            *
*         EUPL v1.2          *
*                            *
******************************
*****************************/

:root {
	--font-sans: -apple-system, "Helvetica Neue", "Helvetica", sans-serif;
	--font-serif: Georgia, "Cambria", "Lucida Bright", serif;
    --font-mono: Monaco, "Courier New", Courier, monospace;
}

*, *:before, *:after {
	box-sizing: border-box;
}

::-moz-selection {
	background: var(--color-second);
	color: var(--color-white);
}

::selection {
	background: var(--color-second);
	color: var(--color-white);
}

@media (prefers-color-scheme: dark) {
	::-moz-selection {
		color: var(--color-black);
	}

	::selection {
		color: var(--color-black);
	}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.skip {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
 }

.skip:focus {
	background: var(--color-black);
	color: var(--color-white);
	clip: auto !important;
	display: block;
	top: 1em;
	left: 1em;
	height: auto;
	width: auto;
	padding: 1em;
	z-index: 100000;
}

/**********************
***********************
* Éléments génériques *
***********************
**********************/

html {
	font-size: 16px;
}

body {
	color: var(--color-text);
	font-size: 1rem;
	font-family: var(--font-sans);
		font-feature-settings: 'ss06' 1, 'ss07' 1;
		/*
		ss06 : haute lisibilité (6 et 9 du ss01, 4 sur SS02)
		ss07 : a fermé 
		*/
	-webkit-hyphens: auto;
	-ms-hypens: auto;
	hyphens: auto;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-after: 2;
	-ms-hyphenate-limit-chars: 5 3 2;
	hyphenate-limit-chars: 5 3 2;
	-webkit-hyphenate-limit-lines: 3;
	-ms-hyphenate-limit-lines: 3;
	hyphenate-limit-lines: 3;
	-ms-hyphenate-limit-zone: 6%;
	hyphenate-limit-zone: 6%;
	-ms-hyphenate-limit-last: always;
	hyphenate-limit-last: always;
	line-height: 1.8;
	padding: 1rem 0;
	/* Propriétés spécifiques à Safari Mobile */
	margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	-webkit-text-size-adjust: 100%;
}

a {
	color: inherit;
	text-decoration: underline;
		text-decoration-color: var(--color-second);
}

a:focus,
a:hover {
	background: var(--color-second);
	color: var(--color-white);
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	a:focus,
	a:hover {
	    color: var(--color-black) !important;
    }
}

.header a:focus,
.header a:hover,
.footer a:focus,
.footer a:hover {
	background: var(--color-white);
	color: var(--color-black);
}

.comma:not(:last-of-type)::after {
	content: ", ";
}

h1,
h2,
h3,
.h1,
.h2,
.h3,
.smtitle {
	font-family: var(--font-sans);
	font-weight: 800;
	-webkit-hyphens: none;
	-ms-hypens: none;
	hyphens: none;
	letter-spacing: -.05rem;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	border-bottom: 3px solid var(--color-whitish);
	font-size: 1.25rem;
	margin: 4rem 0 1rem 0;
	padding: 0 0 .25rem 0;
}

h3 {
	font-size: 1rem;
}

.smtitle {
	border-bottom: 3px solid var(--color-grayer);
	font-size: 1rem;
	margin: 4rem 0 .5rem 0;
	padding: 0 0 .25rem 0;
}

figure img,
img,
figure audio,
audio
figure video,
video {
	width: 100%;
}

.inline {
	display: inline;
}

time {
	color: var(--color-gray);
}

.unstyled {
	list-style: none !important;
	margin: 0 !important;
	padding: 0;
}

/************************
*************************
* Mise en page générale *
*************************
************************/

@media screen and (min-width: 50rem) and (min-height: 30rem) {
	body {
		-webkit-box-shadow: 5px 5px 10px 0px var(--color-first-shadow);
		box-shadow: 5px 5px 10px 0px var(--color-first-shadow);
		display: grid;
			grid-template-columns: max-content max-content 1fr;
			justify-content: space-between;
		padding: 1rem;
	}
}

.site-header {
	background: var(--color-main);
	display: flex;
		align-items: center;
		flex-flow: row wrap;
		justify-content: space-between;
	padding: 1rem;
}

.header_brand {
	font-weight: 800;
	align-self: start;
}

.header_signature {
	align-self: end;
}

.header_brand_link {
	display: inline-block;
}

.site-menu {
	background: var(--color-main);
	display: flex;
		align-items: start;
		justify-content: space-between;
	line-height: 2;
	padding: 0 1rem;
}

.menu_pages {
	text-align: right;
}

@media screen and (min-width: 50rem) and (min-height: 30rem) {
	.site-header {
		flex-flow: column;
		text-align: center;
	}
	
	.header_brand {
		max-width: 2rem;
	}
	
	.header_brand_title {
		writing-mode: vertical-rl;
			text-orientation: sideways;
		padding: .5rem 0 0 0;
	}
	
	.header_signature {
		writing-mode: vertical-rl;
			text-orientation: sideways;
	}
	
	.site-menu {
		flex-flow: column;
		line-height: inherit;
		padding: 1rem 1rem 1rem 0;
	}
	
	.menu_pages {
		align-self: end;
		text-align: left;
	}
}

.site-main {
	background: var(--color-main);
	padding: 1rem;
}

@media screen and (min-width: 50rem) and (min-height: 30rem) {
	.main_content,
	.index {
		margin: 0 auto;
	}
	
	.index,
	.single {
		max-width: 36rem;
	}
}

/**************************
***************************
* Mise en page des listes *
***************************
**************************/

.index_article {
	border-top: 3px solid var(--color-whitish);
	padding: 1rem 0;
}

.index_article:first-of-type {
	border-top: 3px solid var(--color-gray);
}

.index_article:last-of-type {
	border-bottom: 3px solid var(--color-gray);
}

.index_article a {
	display: inline-block;
}

.index_article time {
	display: block;
}

.archive {
	border-bottom: 3px solid var(--color-gray);
	padding: 0 0 1rem 0;
}

@media screen and (min-width: 50rem) and (min-height: 30rem) {
	.archive_links {
		display: grid;
		grid-column-gap: 2rem;
		grid-template-columns: 5fr 2fr;
		grid-template-rows: auto;
	}
}

.archive_links_list p {
	border-bottom: 3px solid var(--color-whitish);
	display: flex;
		align-items: center;
		justify-content: space-between;
	padding: .5rem 0;
}

.archive_links_list_count {
	color: var(--color-gray);
	padding: 0 0 0 1rem;
}

.archive_links_tags,
.archive_links_years,
.archive_articles_content {
	display: grid;
		grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
		grid-template-rows: auto;
}

.archive_links_tags,
.archive_links_years {
	grid-column-gap: 1rem;
}

.archive_links_list_alone {
	grid-column: 1/-1;
}

.archive_articles_content {
	grid-gap: 1rem;
}

/****************************
*****************************
* Mise en page des articles *
*****************************
****************************/

.single_header {
	border-top: 3px solid var(--color-gray);
	border-bottom: 3px solid var(--color-whitish);
	padding: 1rem 0 1rem 0;
}

.single_header_hero {
	width: 100%;
}

.single_content {
	border-bottom: 3px solid var(--color-gray);
	font-family: var(--font-serif);
	margin: 1rem 0 0 0;
}

.single_contact {
	font-style: italic;
	text-align: center;
}

.single_sidebar {
	display: grid;
		grid-column-gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
		grid-template-rows: auto;
}

.single abbr[title],
.single dfn[title] {
	cursor: help;
    text-decoration: underline;
    	text-decoration-style: dotted;
    	text-decoration-color: var(--color-second);
}

.single bold,
.single strong {
	font-weight: 600;
}

.single blockquote {
	border-left: .25rem solid var(--color-second);
	margin: 0 0 1rem 0;
	padding: 0 0 0 1rem;
}

.single blockquote p:last-of-type {
	margin-bottom: 0;
}

.single code,
.single pre {
	font-family: var(--font-mono);
	font-size: .9em;
}

.single del {
	text-decoration: line-through;
}

.single figure {
	margin-bottom: 1rem;
	max-width: 100%;
}

.single figure figcaption {
	color: var(--color-gray);
	font-family: var(--font-serif);
	font-size: .9rem;
	font-style: italic;
}

.single .footnotes {
	border-top: 3px solid var(--color-whitish);
	font-size: .9rem;
	margin: 2rem 0 0 0;
}

.single .footnotes ol {
	counter-reset: section;
	list-style-type: none;
}

.single .footnotes ol li {
	margin: 0 0 1rem 0;
}

.single .footnotes ol li::before {
	content: counters(section,".") ". ";
	counter-increment: section;
	font-weight: 800;
}

.single .footnotes ol li p {
	display: inline;
}

.single ins {
	text-decoration: none;
}

.single hr {
	border: 0;
	color: inherit;
	margin: 0;
	padding: 0 0 1rem 0;
	text-align: center;
}

.single hr::before {
	content: "❧";
	font-size: 2rem;
}

.single .footnotes hr::before {
	content: "";
}

.single mark {
	background: var(--color-second);
}

.single p {
	margin-bottom: 1em;
}

.single pre {
	white-space: pre-wrap;
	margin-bottom: 1em;
	padding: 1em;
}

.single sub,
.single sup {
	font-size: .8rem;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.single sub {
	bottom: -.3rem;
}

.single sup {
	top: -.3rem;
}

.single table {
	font-variant-numeric: tabular-nums;
	border-top: 3px solid var(--color-gray);
	border-bottom: 3px solid var(--color-gray);
	border-collapse: collapse;
	margin: 0 0 1rem 0;
	padding: 0;
	text-align: left;
	width: 100%;
}

.single table thead tr {
	border-top: none;
	border-bottom: 3px solid var(--color-grayer);
}

.single table th,
.single table td {
	padding: .5rem 0;
}

.single table tr {
	border-top: 3px solid var(--color-whitish);
}

.single ul {
	list-style: outside square;
	margin: 0 0 1rem 1rem;
}

@media print {
	@page {
		margin: 2cm 1cm;
	}

	html {
		font-size: 12pt;
	}

	body {
		background: white;
		color: black !important;
		font-family: "Times New Roman", Times, serif;
		-webkit-hyphens: none;
		-ms-hypens: none;
		hyphens: none;
		line-height: 1.4;
	}
	
	.site-header,
	.site-menu,
	.single_contact,
	.single_sidebar {
		display: none;
	}
	
	.site-main {
		margin: 0 0 1rem 0;
		padding: 0 0 0 0;
	}
	
	.single_header,
	.single_content {
		border: none;
	}
	
	.single a {
		text-decoration: none;
		word-wrap: break-word;
	}
	
	.single a[href^=http]:before,
	.single a[href^=https]:before {
		color: var(--color-gray);
		content: "[";
	}
	
	.single a[href^=http]:after,
	.single a[href^=https]:after {
		color: var(--color-gray);
		content: "](" attr(href) ")";
	}
	
	.single figure {
		break-inside: avoid;
	}
	
	.single figure iframe {
		display: none;
		height: 0;
		width: 0;	
	}
	
	.single h2,
	.single h3 {
   		break-after: avoid-page;
   	}
}

@media print and (color) {
	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}
}