<!DOCTYPE html>
<html {{with .Site.LanguageCode}}lang="{{.}}"{{end}}>
	<head>
		<meta charset="utf-8">
		{{ partial "head.html" . }}
	</head>
	
	<body>
		<a href="#main" class="skip">{{ T "skip_link" }}</a>
	
		<header class="header">
			{{ partial "header.html" . }}
		</header>
		
		<main class="main" id="main">
			{{ block "main" . }}{{ end }}
		</main>
		
		<section class="contact">
			<p class="main_content single">{{ T "contact" . | safeHTML }}</p>
		</section>
		
		<footer class="footer">
			{{ partial "footer.html" . }}
		</footer>
	</body>
</html>