{{ define "main" }}

<div class="main_content archive">
	<h1>{{ .Title }}</h1>
	
	{{ $tags := printf ".Site.Taxonomies.%s" .Section | printf "%s" }}
	
	{{ $tags }}
			
	<div class="archive_links">
		<div class="archive_links_tags">
			<h2 class="smtitle">{{ T "by_tag" }}</h2>
			{{ range .Site.Taxonomies.blog_tags }}
				<p><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></p>
			{{ end }}
		</div>
		
		<div class="archive_links_years">
			<h2 class="smtitle">{{ T "by_year" }}</h2>
			{{ range (.Data.Pages.GroupByDate "2006") }}
				<p><a href="#{{ .Key }}">{{ .Key }}</a> <span class="archive_list_count">{{ len .Pages }}</p>
			{{ end }}
		</div>
	</div>

	{{ range (.Data.Pages.GroupByDate "2006") }}
		<section class="archive_articles">
			<h2 id="{{ .Key }}">{{ .Key }}</h2>
	
			<div class="archive_articles_content">
				{{ range .Pages }}
				<article>
					<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>	
					<time datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
				</article>
				{{ end }}
			</div>
		</section>
	{{ end }}
</div>

{{ end }}