{{ define "main" }}

<div class="main_content archive">
	<h1>{{ .Title }}</h1>
	
	<ul class="unstyled archive_list">
		{{ range (.Data.Pages.GroupByDate "2006") }}
			<li><a href="#{{ .Key }}">{{ .Key }}</a> <span class="archive_list_count">{{ len .Pages }}</li>
		{{ end }}
	</ul>

	{{ range (.Data.Pages.GroupByDate "2006") }}
		<section class="archive_articles">
			<h2 id="{{ .Key }}">{{ .Key }}</h2>
	
			<div class="archive_articles_content">
				{{ range .Pages }}
				{{ if $hero := .Resources.GetMatch "hero.jpg" }}
				{{ $image := $hero.Resize "860x q85" }}
				<article class="h-entry index_article-hero">
					<a href="{{ .Permalink }}">
						<div class="h-entry index_article-hero_content" style="background-image: url({{ $image.RelPermalink }})">
							<div class="index_article-hero_meta">
								<h3 class="p-name index_article-hero_title">{{ range .Params.Auteurs }}<span class="comma">{{ . }}</span>{{ end }} — {{ .Title }}</h3>
								<time datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
							</div>
						</div>
					</a>
				</article>
				{{ end }}
				{{ end }}
			</div>
		</section>
	{{ end }}
</div>

{{ end }}