{{ define "main" }}

<article class="h-entry single">
	<header class="single_header">
		<figure class="single_header_hero">
			{{ $hero := resources.Get "img/offline.jpg" }}
			{{ $image := $hero.Resize "880x q85" }}
			<img src="{{ $image.RelPermalink }}" class="u-featured" alt='{{ T "error_image" }}' />
			<figcaption>{{ T "offline_caption" | safeHTML }}</figcaption>
		</figure>

		<h1 class="p-name single_header_title">{{ .Title }}</h1>
	</header>
	
	<div class="e-content single_content">
		{{ .Content }}
	</div>
</article>

{{ end }}