{{ define "main" }}

<article class="h-entry main_content single">
	<header class="single_header">
		{{ if $hero := .Resources.GetMatch "hero.jpg" }}
			{{ $image := $hero.Resize "800x q85" }}
				<figure class="single_header_hero">
					<img src="{{ $image.RelPermalink }}" class="u-featured" />
					<figcaption>{{ if .Params.Credits }}{{ .Params.Credits | safeHTML }}{{ else }}{{ T "image" }} {{ .Site.Params.Author }}{{ end }}.</figcaption>
				</figure>
		{{ end }}

		<h1 class="p-name single_header_title">{{ .Title }}</h1>	
		<time class="dt-published" datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
	</header>

	<div class="e-content single_content">
		{{ .Content }}
	</div>
	
	<div class="single_contact single_content">
		<p>{{ T "contact" . | safeHTML }}</p>
	</div>
	
	<div class="single_sidebar">
		<div class="single_sidebar_left">
			{{ if .Params.link }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">Acheter</h2>
				<ul class="unstyled">
					{{ range .Params.link }}
					<li>{{ . | safeHTML }}</li>
				{{ end }}
					</ul>
			</aside>
			{{ end }}
			
			{{ if .Params.stylo_marques }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">{{ T "brands" }}</h2>
				<ul class="unstyled">
					{{ range .Params.stylo_marques }}
						<li><a class="p-category" href="{{ "/stylo/marques/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</aside>
			{{ end }}
			
			{{ if .Params.stylo_tags }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">{{ T "tags" }}</h2>
				<ul class="unstyled">
					{{ range .Params.stylo_tags }}
						<li><a class="p-category" href="{{ "/stylo/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</aside>
			{{ end }}
			
			{{ $related := .Site.RegularPages.Related . | first 5 }}
			{{ with $related }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">{{ T "related" }}</h2>
				<ul class="unstyled">
				{{ range . }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
				{{ end }}
				</ul>
			</aside>
			{{ end }}
		</div><!-- .single_sidebar_left -->
		
		<div class="single_sidebar_right">
			{{ if $nuancier := .Resources.GetMatch "nuancier.jpg" }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">Nuancier</h2>
				{{ $image := $nuancier.Resize "400x q85" }}
				<img src="{{ $image.RelPermalink }}" alt='Nuancier {{ .Title }}' width="{{ $image.Width }}" />
			</aside>
			{{ end }}
			
			{{ if .Params.stylo_teintes }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">{{ T "shades" }}</h2>
				<ul class="unstyled">
					{{ range .Params.stylo_teintes }}
						<li><a class="p-category" href="{{ "/stylo/teintes/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</aside>
			{{ end }}
		</div><!-- .single_sidebar_right -->
	</div><!-- .single_sidebar -->
</article>

{{ end }}