{{ define "main" }}

<article class="h-entry grid grid-content single">
	<header class="single_header">
		{{ if $hero := .Resources.GetMatch "hero.jpg" }}
			{{ $small := $hero.Resize "480x q85" }}
			{{ $large := $hero.Resize "880x q85" }}
			<figure role="figure" class="single_header_hero" aria-hidden="true">
				<picture>
					<source srcset="{{ $small.RelPermalink }}" media="(max-width: 480px)">
					<img src="{{ $large.RelPermalink }}" class="u-featured" alt='{{ T "alt_image" }}' />
				</picture>
				<figcaption>{{ if .Params.Credits }}{{ .Params.Credits | safeHTML }}{{ else }}{{ T "image" }} {{ .Site.Params.Author.Name }}{{ end }}.</figcaption>
			</figure>
		{{ end }}

		<h1 class="p-name single_header_title">{{ .Title }}</h1>
	</header>

	<div class="e-content single_content">
		{{ .Content }}
	</div>
	
	<div class="single_sidebar">
		{{ if $nuancier := .Resources.GetMatch "nuancier.jpg" }}
		<aside class="single_header_hero single_sidebar_aside" aria-hidden="true">
			{{ $image := $nuancier.Resize "190x q85" }}
			<img src="{{ $image.RelPermalink }}" loading="lazy" alt='Nuancier {{ .Title }}' width="{{ $image.Width }}" />
		</aside>
		{{ end }}
	
		<aside class="single_sidebar_aside">
			<h2 class="single_sidebar_aside_title">{{ T "published" }}</h2>
			{{ if .PublishDate }}{{ if ne .PublishDate .Date }}
				<time class="dt-published" datetime='{{ .PublishDate.Format "2006-01-02T15:04:05" }}'>{{ .PublishDate.Day }} {{ index .Site.Data.mois (printf "%d" .PublishDate.Month) }} {{ .PublishDate.Year }}</time>
			{{ else }}
				<time class="dt-published" datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
			{{ end }}{{ end }}
		</aside>
			
		{{ if .PublishDate }}{{ if ne .PublishDate .Date }}
			<aside class="single_sidebar_aside">
				<h2 class="single_sidebar_aside_title">{{ T "updated" }}</h2>
				<time class="dt-updated" datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
			</aside>
		{{ end }}{{ end }}
	
		{{ if .Params.link }}
		<aside class="single_sidebar_aside">
			<h2 class="single_sidebar_aside_title">Acheter</h2>
			<div>
				{{ range .Params.link }}
					<p>{{ . | safeHTML }}</p>
				{{ end }}
			</div>
		</aside>
		{{ end }}
		
		{{ if .Params.stylo_marques }}
		<aside class="single_sidebar_aside">
			<h2 class="single_sidebar_aside_title">{{ T "brands" }}</h2>
			{{ range .Params.stylo_marques }}
				<p><a class="p-category" href="{{ "/stylo/marques/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
			{{ end }}
		</aside>
		{{ end }}
		
		{{ if .Params.stylo_teintes }}
		<aside class="single_sidebar_aside">
			<h2 class="single_sidebar_aside_title">{{ T "shades" }}</h2>
			{{ range .Params.stylo_teintes }}
				<p><a class="p-category" href="{{ "/stylo/teintes/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
			{{ end }}
		</aside>
		{{ end }}
		
		{{ if .Params.stylo_tags }}
		<aside class="single_sidebar_aside">
			<h2 class="single_sidebar_aside_title">{{ T "tags" }}</h2>
			<div>
				{{ range .Params.stylo_tags }}
					<p><a class="p-category" href="{{ "/stylo/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
				{{ end }}
			</div>
		</aside>
		{{ end }}
	</div><!-- .single_sidebar -->
	
	{{ partial "single_footer.html" . }}
</article>

{{ end }}