{{ define "main" }}

<article class="h-entry main_content single">
	<header class="single_header">
		{{ if $hero := .Resources.GetMatch "hero.jpg" }}
			{{ $image := $hero.Resize "1155x q85" }}
			<figure class="single_header_hero">
				<img class="u-featured" src="{{ $image.RelPermalink }}" alt='{{ T "alt_image" }} {{ .Title }}' width="{{ $image.Width }}" />
				<figcaption>{{ if .Params.Credits }}{{ .Params.Credits | safeHTML }}{{ else }}{{ T "image" }} {{ .Site.Params.Author }}{{ end }}.</figcaption>
			</figure>
		{{ end }}

		<h1 class="p-name single_title">{{ .Title }}</h1>
		
		<div class="single_meta">
			<span class="h-card single_meta_author">
			{{ if .Params.Author }}
				<a class="p-author p-name u-url" href="{{ .Params.AuthorURL }}" rel="author">{{ .Params.Author }}</a>
			{{ else }}
				<a class="p-author p-name u-url" href="{{ .Site.Params.AuthorURL }}" rel="author">{{ .Site.Params.Author }}</a>
			{{ end }}
			</span>
			<time class="dt-published" datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
		</div>
	</header>

	<div class="e-content single_content">
		{{ .Content }}

		<div class="single_contact">
			<p>{{ T "contact" . | safeHTML }}</p>
		</div>
	</div>
	
	<div class="single_sidebar">
		<div class="single_sidebar_left">
			{{ if .Params.link }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">Acheter</h2>
				<ul class="unstyled">
					{{ range .Params.link }}
					<li>{{ . | safeHTML }}</li>
				{{ end }}
					</ul>
			</aside>
			{{ end }}
			
			{{ if .Params.prix }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">Informations</h2>
				<ul class="unstyled">
					{{ if .Params.teinte }}
					{{ range .Params.teinte }}
					<li><b>Teinte</b> <a href="{{ "/teinte/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
					{{ end }}
					
					{{ if .Params.saturation }}
					<li><b>Saturation</b> {{ .Params.saturation }}</li>
					{{ end }}
					
					{{ if .Params.nuances }}
					<li><b>Nuances</b> {{ .Params.nuances }}</li>
					{{ end }}
					
					{{ if .Params.lustre }}
					<li><b>Lustre</b> {{ .Params.lustre }}</li>
					{{ end }}
					
					{{ if .Params.reseau }}
					<li><b>Résistance à l’eau</b> {{ .Params.reseau }}</li>
					{{ end }}
					
					{{ if .Params.couleur }}
					<li><b>Couleur</b> {{ .Params.couleur }}</li>
					{{ end }}
					
					{{ if .Params.modele }}
					<li><b>Modèle</b> {{ .Params.modele }}</li>
					{{ end }}
					
					{{ if .Params.plume }}
					<li><b>Plume</b> {{ .Params.plume }}</li>
					{{ end }}
					
					{{ if .Params.capuchon }}
					<li><b>Capuchon</b> {{ .Params.capuchon }}</li>
					{{ end }}
					
					{{ if .Params.remplissage }}
					<li><b>Remplissage</b> {{ .Params.remplissage }}</li>
					{{ end }}
					
					{{ if .Params.dimensions }}
					<li><b>Dimensions</b> {{ .Params.dimensions }}</li>
					{{ end }}
					
					{{ if .Params.poids }}
					<li><b>Poids</b> {{ .Params.poids }}</li>
					{{ end }}
					
					{{ if .Params.remarques }}
					<li><b>Remarques</b> {{ .Params.remarques }}</li>
					{{ end }}
					
					{{ if .Params.prix }}
					<li><b>Prix</b> {{ .Params.prix }}</li>
					{{ end }}
				</ul>
			</aside>
			{{ end }}
			
			{{ $related := .Site.RegularPages.Related . | first 5 }}
			{{ with $related }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">{{ T "related" }}</h2>
				<ul class="unstyled">
				{{ range . }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
				{{ end }}
				</ul>
			</aside>
			{{ end }}
		</div><!-- .single_sidebar_left -->
		
		<div class="single_sidebar_right">
			{{ if $nuancier := .Resources.GetMatch "nuancier.jpg" }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">Nuancier</h2>
				{{ $image := $nuancier.Resize "400x q85" }}
				<img src="{{ $image.RelPermalink }}" alt='Nuancier {{ .Title }}' width="{{ $image.Width }}" />
			</aside>
			{{ end }}
			
			{{ if .Params.tags }}
			<aside class="single_sidebar_aside">
				<h2 class="smtitle">{{ T "tags" }}</h2>
				<ul class="unstyled">
					{{ range .Params.tags }}
						<li><a class="p-category" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</aside>
			{{ end }}
		</div><!-- .single_sidebar_right -->
	</div><!-- .single_sidebar -->
</article>

{{ end }}