{{ define "main" }}

<article class="h-entry main_content grid grid-content single biblio">
	<header class="single_header">
		{{ if $hero := .Resources.GetMatch "hero.jpg" }}
			{{ $image := $hero.Resize "1000x q85" }}
				<figure class="single_header_hero" aria-hidden="true">
					<img src="{{ $image.RelPermalink }}" class="u-featured" alt='{{ T "alt_image" }}' />
				</figure>
		{{ end }}
	
		<h1 class="p-name single_header_title">{{ range .Params.Biblio_auteurs }}<span class="comma">{{ . }}</span>{{ end }} — <i>{{ .Title }}</i></h1>	
	</header>
	
	<div class="e-content single_content">
		{{ .Content }}
	</div>
	
	<div class="single_sidebar grid grid-2">
		<aside class="single_sidebar_hero single_sidebar_aside" aria-hidden="true">
			{{ if $hero := .Resources.GetMatch "hero.jpg" }}
				{{ $image := $hero.Resize "300x q85" }}
					<img src="{{ $image.RelPermalink }}" class="u-featured" alt='{{ T "alt_image" }}' />
			{{ end }}
		</aside>
	
		<aside class="single_sidebar_aside">
			<h2 class="h3">{{ T "date" }}</h2>
			<time class="dt-published" datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
		</aside>
		
		{{ if .Params.link }}
		<aside class="single_sidebar_aside">
			<h2 class="h3">Acheter</h2>
			<div class="grid grid-auto-mini">
				{{ range .Params.link }}
				<p>{{ . | safeHTML }}</p>
			{{ end }}
			</div>
		</aside>
		{{ end }}
	
		<aside class="single_sidebar_aside">
			<h2 class="h3">Informations</h2>
			<p>{{ range .Params.Biblio_auteurs }}<span class="comma"><a href="{{ "/biblio/auteurs/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></span>{{ end }}</p>
				<p>{{ range .Params.Biblio_editeurs }}<a href="{{ "/biblio/editeurs/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}</p>
				<p>{{ with .Params.Annee }}{{ . }}{{ end }}</p>
				<p>{{ with .Params.Pages }}{{ . }} p.{{ end }}</p>
				<p>{{ .Params.ISBN }}</p>
		</aside>
		
		{{ with .Params.AchatDate }}
		<aside class="single_sidebar_aside">
			<h2 class="h3">Achat</h2>
			<p>{{ . }}{{ end }}</p>
			{{ with .Params.AchatLieu }}<p>{{ . }}</p>{{ end }}
			{{ with .Params.AchatPrix }}<p>{{ . }}</p>{{ end }}
		</aside>
		
		{{ with .Params.LectureDebut }}
		<aside class="single_sidebar_aside">
			<h2 class="h3">Lecture</h2>
			<p>{{ . }}{{ end }}</p>
			<p>{{ with .Params.LectureFin }}{{ . }}</p>{{ end }}
		</aside>
		
		<aside class="single_sidebar_aside">
			<h2 class="h3">Conservation</h2>
			{{ range .Params.Biblio_localisations }}
				<p><a href="{{ "/biblio/localisations/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
			{{ end }}
		</aside>
	
		{{ if .Params.biblio_tags }}
		<aside class="single_sidebar_aside">
			<h2 class="h3">{{ T "tags" }}</h2>
			<div class="grid grid-auto-mini">
				{{ range .Params.biblio_tags }}
					<p><a class="p-category" href="{{ "/biblio/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
				{{ end }}
			</div>
		</aside>
		{{ end }}
	</div><!-- .single_sidebar -->
	
	<div class="single_contact">
		<p>{{ T "contact" . | safeHTML }}</p>
	</div>
</article>

{{ end }}