<nav class="footer-tags">
	<h1 class="smtitle">{{ T "tags" }}</h1>
	<div aria-label='{{ T "tags_list" }}' class="footer-tags-wrapper">
	{{ range .Site.Taxonomies.tags }}
		<p><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></p>
	{{ end }}
	</div>
</nav>

<nav aria-label='{{ T "nav_main" }}' class="footer-internal">
	<h1 class="smtitle">{{ .Site.Title }}</h1>
	<ul class="unstyled">
	{{ range .Site.Menus.main }}
		<li><a href="{{ .URL }}">{{ .Name }}</a></li>
	{{ end }}
	{{ range .Site.Menus.footer }}
		<li><a href="{{ .URL }}">{{ .Name }}</a></li>
	{{ end }}
	</ul>
</nav>

<nav aria-label='{{ T "nav_other" }}' class="footer-external">
	<h1 class="smtitle">{{ .Site.Params.Menutitle }}</h1>
	<ul class="unstyled">
	{{ range .Site.Menus.external }}
		<li><a href="{{ .URL }}">{{ .Name }}</a></li>
	{{ end }}
	</ul>
</nav>

<p aria-label='{{ T "colophon" }}' class="colophon">
	{{ if .Site.Params.Motto }}
		{{ .Site.Params.Motto }}.
	{{ end }}
	
	{{ if .Site.Params.Colophon }}
		{{ .Site.Params.Colophon | safeHTML }}
	{{ end }}
</p>