<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, viewport-fit=cover" />

<!-- Title and description -->
{{ if .IsHome }}
	<title>{{ .Site.Title }}{{ if .Site.Params.Motto }} | {{ .Site.Params.Motto }}{{ end }}</title>
	<meta name="description" content="{{ .Site.Params.Description }}">
{{ else }}
	<title>{{ .Title }} | {{ .Site.Title }}</title>
	<meta name="description" content="{{ .Params.Title }}. {{ .Summary }}">
	<link rel="canonical" href="{{ .Permalink }}">
{{ end }}

<!-- Authorship -->
<link rel="author" href="{{ .Site.Params.Author.Name }}">
<link rel="me" href="{{ .Site.Params.Author.Link }}" type="text/html">

<!-- Stylesheets -->
<style>
    :root {
        --color-main: var(--color-white);
        --color-text: var(--color-black);
        
        --color-white: {{ .Site.Params.Colors.ColorWhite | default "hsl(280, 5%, 98%)" | safeCSS }};
        --color-whitish: {{ .Site.Params.Colors.ColorWhitish | default "hsl(280, 5%, 90%)" | safeCSS }};
        --color-gray: {{ .Site.Params.Colors.ColorGray | default "hsl(280, 5%, 40%)" | safeCSS }};
        --color-black: {{ .Site.Params.Colors.ColorBlack | default "hsl(280, 20%, 25%)" | safeCSS }};

        --color-first: {{ .Site.Params.Colors.ColorFirst | default "hsl(280, 55%, 30%)" | safeCSS }}; /* Default: purple */
        --color-first-before: {{ .Site.Params.Colors.ColorFirstBefore | default "hsl(250, 55%, 30%)" | safeCSS }}; /* Default: bluish purple */
        --color-first-after: {{ .Site.Params.Colors.ColorFirstAfter | default "hsl(310, 55%, 30%)" | safeCSS }}; /* Default: reddish purple */
        --color-first-shadow: {{ .Site.Params.Colors.ColorFirstShadow | default "hsla(280, 55%, 10%, 20%)" | safeCSS }}; /* Default : dark purple */
        --color-second: {{ .Site.Params.Colors.ColorSecond | default "hsl(190, 55%, 25%)" | safeCSS }}; /* Default: forest green */
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-main: {{ .Site.Params.DarkColors.ColorMain | default "hsl(250, 5%, 20%)" | safeCSS }};
            --color-text: {{ .Site.Params.DarkColors.ColorWhite | default "hsl(250, 5%, 80%)" | safeCSS }};

            --color-white: {{ .Site.Params.DarkColors.ColorWhite | default "hsl(250, 5%, 90%)" | safeCSS }};
            --color-whitish: {{ .Site.Params.DarkColors.ColorWhitish | default "hsl(250, 5%, 30%)" | safeCSS }};
            --color-gray: {{ .Site.Params.DarkColors.ColorGray | default "hsl(250, 5%, 70%)" | safeCSS }};
            --color-black: {{ .Site.Params.DarkColors.ColorBlack | default "hsl(250, 5%, 5%)" | safeCSS }};

            --color-first: {{ .Site.Params.DarkColors.ColorFirst | default "hsl(250, 35%, 40%)" | safeCSS }}; /* Default: bluish purple */
            --color-first-before: {{ .Site.Params.DarkColors.ColorFirstBefore | default "hsl(220, 35%, 30%)" | safeCSS }}; /* Default : blue */
        	--color-first-after: {{ .Site.Params.DarkColors.ColorFirstAfter | default "hsl(280, 35%, 30%)" | safeCSS }}; /* Default : purple */
        	--color-first-shadow: {{ .Site.Params.DarkColors.ColorFirstShadow | default "hsla(250, 15%, 10%, 30%)" | safeCSS }}; /* Default : dark purple */
            --color-second: {{ .Site.Params.DarkColors.DarkColorSecond | default "hsl(40, 100%, 60%)" | safeCSS }}; /* Default: baby blue */
        }
    }

    {{ if .Params.CustomColor }}
        html { background: {{ .Params.CustomColor | safeCSS }}; }
    {{ else if .Site.Params.HeaderGradient }}
        html { background: linear-gradient(to top right, var(--color-first-before), var(--color-first), var(--color-first-after)); background-repeat: no-repeat; background-attachment: fixed; }
    {{ else }}
    	html { background: var(--color-first); }
    {{ end }}
    
    {{ if .Site.Params.HeaderAnimation }}
        @media (prefers-reduced-motion: no-preference) {
        	@keyframes gradient {
            	0% { background-position: 50% 0%; }
            	50% { background-position: 50% 100%; }
            	100% { background-position: 50% 0%; }
        	}
		
			html {
            	animation: gradient 30s ease infinite;
	        	background-size: 300% 300%;
        	}
        }
    {{ end }}
    
    {{ if .IsPage }}
    	@media print {
    		#main:before {
    			border: 1px solid;
    			content: "{{ T "print_credits" . | safeHTML }}";
    			display: block;
    			padding: .5rem;
    		}
    	}
	{{ end }}
</style>
{{ $cssMain := resources.Get "css/style.css" | resources.Minify }}
<link rel="stylesheet" media="all" href="{{ $cssMain.Permalink }}">
{{ $cssPrint := resources.Get "css/print.css" | resources.Minify }}
<link rel="stylesheet" media="print" href="{{ $cssPrint.Permalink }}">

<!-- Mobile devices -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="theme-color" content='{{ .Site.Params.Colors.ColorFirst | default "hsl(280, 55%, 30%)" | safeCSS }}'>

<!-- PWA -->
{{ if .Site.Params.Pwa }}
	<link rel="manifest" href="/site.webmanifest">
	<link rel="index" href="{{ .Site.BaseURL }}">
{{ end }}

<!-- Icons -->
<link rel="icon" href="/favicon.ico">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/icon-140.png">

<!-- RSS -->
<link rel="alternate" href="{{ .Site.BaseURL }}index.xml" type="application/rss+xml">

<!-- Plausible -->
<script async defer data-domain="metrozendodo.fr" src="https://stats.metrozendodo.fr/js/index.js"></script>