{{ if .IsHome }}
<title>{{ .Site.Title }}{{ if .Site.Params.Motto }} | {{ .Site.Params.Motto }}{{ end }}</title>
<meta name="description" content="{{ .Site.Params.Description }}">
{{ else }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
<meta name="description" content="{{ .Params.Title }}. {{ .Summary }}">
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}index.xml">

<!-- Mobile devices-->
<meta name="theme-color" content='{{ .Site.Params.Colors.ColorFirst | default "hsl(290, 55%, 30%)" | safeCSS }}'>
<meta name="viewport" content="width=device-width">

<!-- CSS -->
<style type="text/css">
    :root {
        --color-main: var(--color-white);
        --color-text: var(--color-black);
        
        --color-white: {{ .Site.Params.Colors.ColorWhite | default "hsl(290, 5%, 98%)" | safeCSS }};
        --color-whitish: {{ .Site.Params.Colors.ColorWhitish | default "hsl(290, 5%, 90%)" | safeCSS }};
        --color-gray: {{ .Site.Params.Colors.ColorGray | default "hsl(290, 3%, 50%)" | safeCSS }};
        --color-grayer: {{ .Site.Params.Colors.ColorGrayer | default "hsl(290, 5%, 80%)" | safeCSS }};
        --color-black: {{ .Site.Params.Colors.ColorBlack | default "hsl(290, 30%, 20%)" | safeCSS }};

        --color-first: {{ .Site.Params.Colors.ColorFirst | default "hsl(290, 55%, 30%)" | safeCSS }}; /* Default: Purple */
        --color-first-left: {{ .Site.Params.Colors.ColorFirstLeft | default "hsl(230, 55%, 40%)" | safeCSS }}; /* Default: Blue */
        --color-first-right: {{ .Site.Params.Colors.ColorFirstRight | default "hsl(350, 75%, 40%)" | safeCSS }}; /* Default: Red */
        --color-second: {{ .Site.Params.Colors.ColorSecond | default "hsl(340, 80%, 50%)" | safeCSS }}; /* Default: Pink */
        
        --font-sans: {{ .Site.Params.FontSans | default "system-ui, -apple-system, 'Helvetica Neue', sans-serif;" | safeCSS }};
        --font-serif: {{ .Site.Params.FontSerif | default "Georgia, 'Cambria', 'Lucida Bright', serif;" | safeCSS }}
        --font-mono: {{ .Site.Params.FontMono | default "Monaco, 'Courier New', Courier, monospace;" | safeCSS }};
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-main: {{ .Site.Params.DarkColors.ColorMain | default "hsl(200, 5%, 20%)" | safeCSS }};
            --color-text: var(--color-white);

            --color-white: {{ .Site.Params.DarkColors.ColorWhite | default "hsl(200, 5%, 85%)" | safeCSS }};
            --color-whitish: {{ .Site.Params.DarkColors.ColorWhitish | default "hsl(200, 5%, 80%)" | safeCSS }};
            --color-gray: {{ .Site.Params.Colors.ColorGray | default "hsl(200, 3%, 50%)" | safeCSS }};
            --color-grayer: {{ .Site.Params.Colors.ColorGrayer | default "hsl(200, 5%, 10%)" | safeCSS }};
            --color-black: {{ .Site.Params.DarkColors.ColorBlack | default "hsl(200, 5%, 2%)" | safeCSS }};

            --color-first: {{ .Site.Params.DarkColors.ColorFirst | default "hsl(275, 35%, 40%)" | safeCSS }}; /* Default: Deep purple */
            --color-first-left: {{ .Site.Params.DarkColors.ColorFirstLeft | default "hsl(230, 25%, 30%)" | safeCSS }}; /* Default: Bluish purple */
            --color-first-right: {{ .Site.Params.DarkColors.ColorFirstRight | default "hsl(300, 25%, 30%)" | safeCSS }}; /* Default: Redish purple */
            --color-second: {{ .Site.Params.Colors.DarkColorThird | default "hsl(195, 80%, 70%)" | safeCSS }}; /* Default: Blue */
        }
    }

    {{ if .Params.CustomColor }}
        .header { background: {{ .Params.CustomColor | safeCSS }}; }
    {{ else }}
        .header { background: linear-gradient(to bottom right, var(--color-first-left), var(--color-first), var(--color-first-right)); }
    {{ end }}

    {{ if .Site.Params.AnimateHeader }}
        .header {
            animation: gradient 30s ease infinite;
	        background-size: 100% 100%;
        }

        @keyframes gradient {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }
    {{ end }}
</style>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/icons/site.webmanifest">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color='{{ .Site.Params.Colors.ColorFirst | default "hsl(290, 55%, 30%)" | safeCSS }}'>
