{{ if .IsHome }}
<title>{{ .Site.Title }}{{ if .Site.Params.Motto }} | {{ .Site.Params.Motto }}{{ end }}</title>
<meta name="description" content="{{ .Site.Params.Description }}">
{{ else }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
<meta name="description" content="{{ .Params.Title }}. {{ .Summary }}">
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}index.xml">

<!-- Mobile devices-->
<meta name="theme-color" content='{{ .Site.Params.Colors.ColorFirst | default "hsl(280, 55%, 30%)" | safeCSS }}'>
<meta name="viewport" content="initial-scale=1, viewport-fit=cover" />

<!-- CSS -->
<style>
    :root {
        --color-main: var(--color-white);
        --color-text: var(--color-black);
        
        --color-white: {{ .Site.Params.Colors.ColorWhite | default "hsl(280, 5%, 98%)" | safeCSS }};
        --color-whitish: {{ .Site.Params.Colors.ColorWhitish | default "hsl(280, 5%, 90%)" | safeCSS }};
        --color-gray: {{ .Site.Params.Colors.ColorGray | default "hsl(280, 3%, 40%)" | safeCSS }};
        --color-grayer: {{ .Site.Params.Colors.ColorGrayer | default "hsl(280, 5%, 80%)" | safeCSS }};
        --color-black: {{ .Site.Params.Colors.ColorBlack | default "hsl(280, 20%, 25%)" | safeCSS }};

        --color-first: {{ .Site.Params.Colors.ColorFirst | default "hsl(280, 55%, 30%)" | safeCSS }}; /* Default: purple */
        --color-first-before: {{ .Site.Params.Colors.ColorFirstBefore | default "hsl(250, 55%, 30%)" | safeCSS }}; /* Default: bluish purple */
        --color-first-after: {{ .Site.Params.Colors.ColorFirstAfter | default "hsl(310, 55%, 30%)" | safeCSS }}; /* Default: reddish purple */
        --color-first-shadow: {{ .Site.Params.Colors.ColorFirstShadow | default "hsla(280, 55%, 10%, 20%)" | safeCSS }}; /* Default : dark purple */
        --color-second: {{ .Site.Params.Colors.ColorSecond | default "hsl(190, 55%, 25%)" | safeCSS }}; /* Default: forest green */
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-main: {{ .Site.Params.DarkColors.ColorMain | default "hsl(250, 5%, 20%)" | safeCSS }};
            --color-text: {{ .Site.Params.DarkColors.ColorWhite | default "hsl(250, 5%, 80%)" | safeCSS }};

            --color-white: {{ .Site.Params.DarkColors.ColorWhite | default "hsl(250, 5%, 90%)" | safeCSS }};
            --color-whitish: {{ .Site.Params.DarkColors.ColorWhitish | default "hsl(250, 5%, 30%)" | safeCSS }};
            --color-gray: {{ .Site.Params.DarkColors.ColorGray | default "hsl(250, 5%, 70%)" | safeCSS }};
            --color-grayer: {{ .Site.Params.DarkColors.ColorGrayer | default "hsl(250, 5%, 80%)" | safeCSS }};
            --color-black: {{ .Site.Params.DarkColors.ColorBlack | default "hsl(250, 5%, 5%)" | safeCSS }};

            --color-first: {{ .Site.Params.DarkColors.ColorFirst | default "hsl(250, 35%, 40%)" | safeCSS }}; /* Default: bluish purple */
            --color-first-before: {{ .Site.Params.DarkColors.ColorFirstBefore | default "hsl(220, 35%, 30%)" | safeCSS }}; /* Default : blue */
        	--color-first-after: {{ .Site.Params.DarkColors.ColorFirstAfter | default "hsl(280, 35%, 30%)" | safeCSS }}; /* Default : purple */
        	--color-first-shadow: {{ .Site.Params.DarkColors.ColorFirstShadow | default "hsla(250, 15%, 10%, 30%)" | safeCSS }}; /* Default : dark purple */
            --color-second: {{ .Site.Params.DarkColors.DarkColorSecond | default "hsl(40, 100%, 60%)" | safeCSS }}; /* Default: baby blue */
        }
    }

    {{ if .Params.CustomColor }}
        html { background: {{ .Params.CustomColor | safeCSS }}; }
    {{ else if .Site.Params.HeaderGradient }}
        html { background: linear-gradient(to bottom right, var(--color-first-before), var(--color-first), var(--color-first-after)); background-repeat: no-repeat; background-attachment: fixed; }
    {{ else }}
    	html { background: var(--color-first); }
    {{ end }}
    
    {{ if .Site.Params.HeaderAnimation }}
        @media (prefers-reduced-motion: no-preference) {
        	@keyframes gradient {
            	0% { background-position: 50% 0%; }
            	50% { background-position: 50% 100%; }
            	100% { background-position: 50% 0%; }
        	}
		
			html {
            	animation: gradient 30s ease infinite;
	        	background-size: 300% 300%;
        	}
        }
    {{ end }}
    
    {{ if .IsPage }}
    	@media print {
    		.main_content:before {
    			border: 1px solid;
    			content: "{{ T "print_credits" . | safeHTML }}";
    			display: block;
    			padding: .5rem;
    		}
    	}
	{{ end }}
</style>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

<!-- Icons -->
{{ if .Site.Params.Pwa }}
	<link rel="manifest" href="/site.webmanifest">
	<link rel="index" href="{{ .Site.BaseURL }}">
{{ end }}
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color='{{ .Site.Params.Colors.ColorFirst | default "hsl(280, 55%, 30%)" | safeCSS }}'>
