{{ define "main" }}

<div class="index"><!-- Blog -->
	<header class="index_header">
		{{ with .Site.GetPage "section" "blog" }}
		<h1 class="index_header_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		{{ with .Description }}<p class="index_header_description">{{ . }}</p>{{ end }}
		{{ end }}
	</header>
	
	{{ range first 10 (where .Site.RegularPages "Section" "blog") }}
		<article class="h-entry index_article">		
			<h2 class="p-name index_article_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			<time class="index_article_time" datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
		</article>
	{{ end }}
</div>

<div class="index"><!-- Biblio -->
	<header class="index_header">
		{{ with .Site.GetPage "section" "biblio" }}
		<h1 class="index_header_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		{{ with .Description }}<p class="index_header_description">{{ . }}</p>{{ end }}
		{{ end }}
	</header>
	
	<div class="index_gallery">
		{{ range first 5 (where .Site.RegularPages "Section" "biblio") }}
			<article class="h-entry index_thumbnail">		
				{{ if $hero := .Resources.GetMatch "hero.jpg" }}
				{{ $image := $hero.Resize "200x q85" }}
					<a href="{{ .Permalink }}"><img src="{{ $image.RelPermalink }}" class="u-featured" alt='{{ T "alt_image" }}' /></a>
				{{ end }}
			</article>
		{{ end }}
	</div>
</div>

<div class="index"><!-- Photo -->
	<header class="index_header">
		{{ with .Site.GetPage "section" "photo" }}
		<h1 class="index_header_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		{{ with .Description }}<p class="index_header_description">{{ . }}</p>{{ end }}
		{{ end }}
	</header>
	
	<div class="index_gallery">
		{{ range first 5 (where .Site.RegularPages "Section" "photo") }}
			<article class="h-entry index_thumbnail">		
				{{ if $hero := .Resources.GetMatch "hero.jpg" }}
				{{ $image := $hero.Resize "200x q85" }}
					<a href="{{ .Permalink }}"><img src="{{ $image.RelPermalink }}" class="u-featured" alt='{{ T "alt_image" }}' /></a>
				{{ end }}
			</article>
		{{ end }}
	</div>
</div>

<div class="index"><!-- Memo -->
	<header class="index_header">
		{{ with .Site.GetPage "section" "memo" }}
		<h1 class="index_header_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		{{ with .Description }}<p class="index_header_description">{{ . }}</p>{{ end }}
		{{ end }}
	</header>
	
	{{ range first 5 (where .Site.RegularPages "Section" "memo") }}
		<article class="h-entry index_article">		
			<h2 class="p-name index_article_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			<time class="index_article_time" datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
		</article>
	{{ end }}
</div>

<div class="index"><!-- Stylo -->
	<header class="index_header">
		{{ with .Site.GetPage "section" "stylo" }}
		<h1 class="index_header_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		{{ with .Description }}<p class="index_header_description">{{ . }}</p>{{ end }}
		{{ end }}
	</header>
	
	{{ range first 5 (where .Site.RegularPages "Section" "stylo") }}
		<article class="h-entry index_article">		
			<h2 class="p-name index_article_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			<time class="index_article_time" datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
		</article>
	{{ end }}
</div>

{{ end }}