{% extends "base.html" %}
{% block meta_title %}Archives | {{ SITENAME }}{% endblock %}
{% block meta_description %}Tous les articles publiés sur {{ SITENAME }}.{% endblock %}

{% block content %}
	<h1>Archives</h1>
	
	{% for year, date_year in dates|groupby("date.year")|sort(reverse=True) %}	
	<section class="site-archive">
		<h2>{{ year }}</h2>
		{% for article in date_year %}
		<article>
			<h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
			<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
		</article>
		{% endfor %}
	</section>
	{% endfor %}
{% endblock %}