{% extends "base.html" %}
{% block title %}Catégorie : {{ category }}{% endblock %}
{% block meta_title %}Catégorie : {{ category }} | {{ SITENAME }}{% endblock %}
{% block meta_index %}<meta name="robots" content="noindex, follow" />{% endblock %}
{% block meta_description %}Tous les articles de la catégorie {{ category }} sur {{ SITENAME }}.{% endblock %}

{% block content %}
	<div class="site-wrapper">
	{% for article in articles %}
		<article class="article-list">
			<h3 class="article-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
			
			<time class="article-time" datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
		</article>
	{% endfor %}
	</div>
{% endblock %}