{{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $small := $image.Resize "480x q85" }}
{{ $large := $image.Resize "625x q85" }}
{{ $figcaption := .Get "caption" }}
{{ $alt := .Get "alt" }}

<figure role="figure">
	<picture>
		<source srcset="{{ $small.RelPermalink }}" media="(max-width: 480px)">
		<img src="{{ $large.RelPermalink }}" width="{{ $large.Width }}" loading="lazy" alt="{{ $alt }}" />
	</picture>
	{{ with $figcaption }}
		<figcaption>{{ $figcaption | safeHTML }}</figcaption>
	{{ end }}
</figure>